db_hostname = "localhost"
db_username = ""
db_password = ""
db_database = ""
base_url = "https://botdomain.uz"
timezone = "Asia/Tashkent"
language = "english"
dateformat = "Y-m-d H:i:s"
bot_token = ""
bot_username = ""
telegram_api_url="https://api.telegram.org"
webhook_secret=""