@font-face {
  font-family: 'HelveticaNeue';
  src: url('./assets/fonts/helvetica/HelveticaNeueCyr-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  position: relative;
  font-family: HelveticaNeue, sans-serif;
  background-color: #025ffa;
}

button.btn.btn-light {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05) !important;
  border-radius: 12px;
}

.btn-hsize {
  height: 45px !important;
}

.title {
  text-transform: uppercase;
  color: white;
}

.arrow {
  width: 7px;
  margin-right: 15px;
}

.d-flex .arrow{
  margin-top: 18px;
}

.title-black {
  color: black;
  text-transform: uppercase;
  margin-top: 30px;
  font-weight: 700;
  margin-bottom: 100px;
}

.detail-brand {
  margin: 0 auto;
  width: 200px;
  text-align: center;
  margin-top: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05)
}

.btn-red {
  width: 300px;
  margin: 0 auto;
  background-color: #ff0000;
  margin-bottom: 20px;
}

footer {
  position: fixed;
  bottom: 0px;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1C191D;
}

.btn-vote {
  width: 300px;
}

.content {
  margin-bottom: 100px;
}